In [11]:
from sqlalchemy import create_engine
from application import *
from application.models import Metadata
from  sqlalchemy.sql.expression import func
from sqlalchemy.sql import and_

In [2]:
import tensorflow as tf
from tensorflow import keras

import numpy as np

In [9]:
# get single_work reviews
single_work = Metadata().query.filter(Metadata.review_type == 'single_focus').order_by(func.rand()).all()
len(single_work)

2059

In [12]:
# get stew of non-review, cluster, brief, multi
not_single_work = Metadata().query.filter(Metadata.review_type.in_(["cluster", "really_multi", "not_review", "brief"])).order_by(func.rand()).all()
len(not_single_work)

9882

In [15]:
# make training, test data and labels
trainset = single_work[0:1000] + not_single_work[0:1000]
testset = single_work[1000:2000] + not_single_work[1000:2000]

(2000, 2000)

In [17]:
train_labels = [0 for i in single_work[0:1000]] + [1 for i in not_single_work[0:1000]]
test_labels = [0 for i in single_work[1000:2000]] + [1 for i in not_single_work[1000:2000]]

In [18]:
# process review text .. one hot encoding
trainset_txt = [i.corrected_transcription for i in trainset]
testset_txt = [i.corrected_transcription for i in testset]

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_df=0.95, min_df=25,
                                   max_features=10000,
                                   stop_words='english')
tfidf = tfidf_vectorizer.fit_transform(trainset_txt + testset_txt)

In [27]:
# run tensorflow classifier
# score accuracy
tfidf = tfidf.toarray()

In [28]:
tfidf_train = tfidf[0:2000]
tfidf_test = tfidf[2000:]

In [41]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression().fit(tfidf_train, train_labels)

In [42]:
clf.score(tfidf_test, test_labels)

0.8205

In [56]:

import pandas as pd

df = pd.DataFrame()
df['coef'] = clf.coef_[0]
df['term'] = tfidf_vectorizer.get_feature_names()
df = df.sort_values(by="coef")

          coef         term
5584 -2.169950           pp
16   -1.768857         12mo
88   -0.994396          8vo
7411 -0.914740         tile
1291 -0.883461        cloth
78   -0.833014           50
3405 -0.739548      history
4093 -0.712544        labor
4393 -0.711668         lord
6439 -0.696760         says
1957 -0.679805          did
7341 -0.666504       things
3608 -0.661480          ill
4145 -0.640460        later
4866 -0.622732       nature
1034 -0.595529         came
3037 -0.593129    gentleman
7984 -0.592690        water
4331 -0.585447        lived
7478 -0.581482         told
3924 -0.576062        italy
3403 -0.575738   historical
3907 -0.559256       island
5529 -0.558974    political
391  -0.541609      ancient
2207 -0.529930        earth
3923 -0.526068      italian
2663 -0.520387       family
4846 -0.520187        names
1156 -0.517634      chapter
...        ...          ...
362   0.923768     american
5808  0.924932   publishers
6485  0.938156       season
33    0.941800         1906
2408  0.944444     entitled
4662  0.949189       messrs
2237  0.961957      edition
4326  0.963448     literary
5359  0.971918  performance
5132  0.985310        opera
4826  1.050790        music
638   1.054894     audience
6406  1.087017         sale
3918  1.106018       issued
4376  1.153654       london
2750  1.189030      fiction
4253  1.324962      library
4923  1.423532          new
7863  1.458351        views
5806  1.470020    published
6206  1.498853       review
5483  1.523370         play
8009  1.574180         week
7420  1.610979        times
6429  1.754892     saturday
5942  1.825974      readers
4992  1.976762        novel
883   2.025297         book
7689  3.567301  uncorrected
884   3.649371        books

[8234 rows x 2 columns]

In [58]:
unknown = Metadata().query.filter(Metadata.review_type == 'needs_audit').order_by(func.rand()).all()

In [62]:
# get text
unknown_txt = [i.corrected_transcription for i in unknown]
# tf_idf

tfidf = tfidf_vectorizer.fit_transform(trainset_txt + testset_txt)
unknown_tfidf = tfidf_vectorizer.transform(unknown_txt)
# generate labels, confidence
result = clf.predict(unknown_tfidf)
#0 is single_work
result

array([1, 0, 0, ..., 1, 1, 1])

In [69]:
resultp = clf.predict_proba(unknown_tfidf)
#resultp[0]
df_unknown = pd.DataFrame(resultp, columns=['single', 'not_single'])
df_unknown['nyt_id'] = [i.nyt_id for i in unknown]
df_unknown = df_unknown.sort_values(by='not_single')
df_unknown.to_csv("probably_single.csv")

In [34]:
model = keras.Sequential()
model.add(keras.layers.Embedding(8500, 16))
model.add(keras.layers.GlobalAveragePooling1D())
model.add(keras.layers.Dense(16, activation=tf.nn.relu))
model.add(keras.layers.Dense(1, activation=tf.nn.sigmoid))

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 16)          136000
_________________________________________________________________
global_average_pooling1d (Gl (None, 16)                0
_________________________________________________________________
dense (Dense)                (None, 16)                272
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 17
=================================================================
Total params: 136,289
Trainable params: 136,289
Non-trainable params: 0
_________________________________________________________________

In [39]:
model.compile(optimizer='Adadelta',
              loss='mean_squared_error',
              metrics=['acc'])

In [40]:
history = model.fit(tfidf_train,
                    train_labels,
                    epochs=20,
                    batch_size=512,
                    validation_data=(tfidf_test, test_labels),
                    verbose=1)

/Users/lavin/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/gradients_impl.py:108: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 2000 samples, validate on 2000 samples
Epoch 1/20
2000/2000 [==============================] - 2s 984us/step - loss: 0.2501 - acc: 0.5000 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 2/20
2000/2000 [==============================] - 2s 871us/step - loss: 0.2501 - acc: 0.4910 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 3/20
2000/2000 [==============================] - 2s 792us/step - loss: 0.2502 - acc: 0.4840 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 4/20
2000/2000 [==============================] - 2s 862us/step - loss: 0.2502 - acc: 0.4890 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 5/20
2000/2000 [==============================] - 2s 882us/step - loss: 0.2501 - acc: 0.4940 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 6/20
2000/2000 [==============================] - 2s 831us/step - loss: 0.2502 - acc: 0.4770 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 7/20
2000/2000 [==============================] - 2s 808us/step - loss: 0.2501 - acc: 0.4870 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 8/20
2000/2000 [==============================] - 2s 826us/step - loss: 0.2500 - acc: 0.4930 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 9/20
2000/2000 [==============================] - 2s 830us/step - loss: 0.2500 - acc: 0.5000 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 10/20
2000/2000 [==============================] - 2s 817us/step - loss: 0.2502 - acc: 0.4890 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 11/20
2000/2000 [==============================] - 2s 827us/step - loss: 0.2502 - acc: 0.5000 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 12/20
2000/2000 [==============================] - 2s 834us/step - loss: 0.2501 - acc: 0.4940 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 13/20
2000/2000 [==============================] - 2s 818us/step - loss: 0.2501 - acc: 0.5000 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 14/20
2000/2000 [==============================] - 2s 825us/step - loss: 0.2501 - acc: 0.4890 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 15/20
2000/2000 [==============================] - 2s 802us/step - loss: 0.2501 - acc: 0.4980 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 16/20
2000/2000 [==============================] - 2s 855us/step - loss: 0.2502 - acc: 0.4900 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 17/20
2000/2000 [==============================] - 2s 813us/step - loss: 0.2501 - acc: 0.4960 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 18/20
2000/2000 [==============================] - 2s 814us/step - loss: 0.2500 - acc: 0.4930 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 19/20
2000/2000 [==============================] - 2s 810us/step - loss: 0.2500 - acc: 0.4940 - val_loss: 0.2500 - val_acc: 0.5000
Epoch 20/20
2000/2000 [==============================] - 2s 815us/step - loss: 0.2502 - acc: 0.5000 - val_loss: 0.2500 - val_acc: 0.5000